body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #fff;
        background-color: #12222F;
    }
    #chat-container {
        display: flex;
        flex-direction: row;
        height: 95vh;
        width:55vw ; 
        margin: auto;
        /* gap:5px ;  */
    }
    #left-chat {
        width: 60vw;
        overflow-y: auto;
        padding: 20px;
        border:3px solid  white; 
        border-right: 0 ; 
        border-radius: 5px ;
    }
    #right-chat {
        width: 40vw;
        display: flex;
        flex-direction: column;
        border:3px solid  white;  
        border-radius: 5px ;
    }
    #ai-chat, #employee-chat {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
    }
    #ai-avatar, #employee-avatar {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .message-left {
        margin-bottom: 20px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        text-align: center;
        background-color:  #30444e;
        gap:5px ; 
        border-radius: 10px;
        height: 35px ;
    }
    .ai-message {
        text-align: right;
    }
    .employee-message {
        text-align: left;
    }
    /* Dark theme styles */
    .message {
        background-color:  #30444e;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #ai-chat {
        border-right: 1px solid  #30444e;
        
    }
    .nav{
        display: flex;
        justify-content:space-between   ;
        height:48px ; 
        background-color: #30444e;
        align-items: center;
        border-radius: 5px ;
        border-bottom:2px solid white;
    }